body {
    background-color: rgb(31, 31, 31);
}

.tarjetas {
    margin: auto;
    display: flex;
    max-width: 50%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bulbasaur {
    margin: auto;
    text-align: center;
    background-color: rgb(236, 236, 236);
    padding: 2%;
}

.charmander {
    margin: 5%;
    margin: auto;
    text-align: center;
    background-color: rgb(236, 236, 236);
    padding: 2%;
}

.squirtle {
    margin: 5%;
    margin: auto;
    text-align: center;
    background-color: rgb(236, 236, 236);
    padding: 2%;
}

