h1 {
  font-family: "Libertinus Mono", monospace;
  font-weight: 700;
}

p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  line-height: 25px;
}


blockquote {
  font-family: "Pacifico", cursive;
  font-weight: 400;
}
